<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body>
    <h1>Welcome To Object Caption Generator </h1>
    <form action="/homepage" method="POST">
        <button>Let's go</button>
    </form>
</body>
</html>